<html>

<body>
<form method="POST" action="">

    <div style="margin-top: 14px">
        <label for="username">Username</label> <input id="username" name="username" required type="text" value="">
    </div>

    <div style="margin-top: 14px">
        <label for="password">Password</label> <input id="password" name="password" required type="password" value="">
    </div>

    <div style="margin-top: 14px">
        <input type="submit" />
    </div>
</form>
</body>

</html>